wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 60px 1fr 50px;
    grid-template-areas: 
        "header"
        "main"
        "footer"
    ;
    height: 100vh;
}
@media (min-width: 768px) {
    wrapper {
        grid-template-columns: 250px repeat(3, 1fr);
        grid-template-rows: 60px 1fr 50px;
        grid-template-areas:
            "header header  header  header"
            "aside  main    main    main"
            "aside  footer    footer    footer"
        ;
    }
    /* hide toggle */
    .toggle {
        display: none;
    }
    .c-button {
        display: none;
    }
}


.mg-header {
    background-color: #fff;
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    z-index: 999;
    //border-bottom: 1px solid #9E9E9E;
    -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
    &-title {
        display: flex;
        justify-self: start;
        align-items: center;
    }
    &-title  h1 {
        margin: 0;
        margin-left: 10px;
        font-size: 1.3rem;
    }
    &-nav ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
    }
    &-nav a {
        padding: 10px;
    }
}
.mg-header a {
    text-decoration: none;
    color: #212121;
}

.mg-main {
    background-color:#fafafa;
    display: flex;
    flex-direction: column;
    grid-area: main;
    &-content {
        padding: 20px;
    }
    &-content p {
        margin: 0;
        padding: 0;
        line-height: 25px;
        color: #212121;
    }
}

.mg-aside {
    background-color: #424242;
    grid-area: aside;
    z-index: 998;
    &-nav {
        margin: 0;
        padding: 0;
    }
    &-nav ul {
        margin: 0;
        padding: 0;
        margin-top: 20px;
        list-style: none;
    }
    
    &-nav a {
        display: block;
        padding: 10px 20px;
        text-decoration: none;
        color: white;
        
    }
    &-nav a:hover {
        background-color: #212121;
        color: #9E9E9E;
    }
    &-nav span {
        margin-left: 10px;
    }
}
.js-offcanvas-triggerOpen {
    padding: 10px;
}
.js-offcanvas-triggerOpen i:hover {
    color: #757575;
}
.js-offcanvas-triggerClose {
    padding: 10px;
}
.js-offcanvas-triggerClose i:hover {
    color: #9E9E9E;
} 
.mg-footer {
    grid-area: footer;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#fafafa;
}
.mg-footer p {
    margin: 0;
    padding: 0;
    font-size: small;
    color: #212121;
}
