/* media query for nav styles */
@media only screen and (max-width: 767px) {
    .mg-aside {
        align-items: center;
        color: #fcfcfc;
        height: 100vh;
        justify-content: center;
        left: 0;
        position: fixed;
        top: 0;
        transform: translateX(-100%);
        transition: all 235ms cubic-bezier(.95, .05, .795, .035);
        width: 250px;

        &-nav {
            margin: 0;
            padding: 0;
        }
        &-toggle {
            display: flex; // posicionar individualmente botao fechar
            height: 60px;
            justify-content: flex-end;
            align-items: center;
            padding: 10px;
        }
      }

      .mg-aside.is-active {
        transform: none;
        z-index: 999;
        transition: all 205ms cubic-bezier(.19, 1, .22, 1);
      }

      .overlay {
          position: fixed; /* Sit on top of the page content */
          display: none; /* Hidden by default */
          width: 100%; /* Full width (cover the whole page) */
          height: 100%; /* Full height (cover the whole page) */
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          background-color: rgba(0,0,0,0.5); /* Black background with opacity */
          z-index: 998;
        }
}